---
layout: default
---

<!-- Main -->
<div id="main">

    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <article>
        <header class="major">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p><span>Publié le {{ post.date | date: "%d/%m/%Y" }}</span>
            {% if tag == post.tag %}
            <ul class="tags tags_left">
                {% if tag == post.tag %}
                    {% for tag in post.tags %}
                        <li><a href="/tags.html#{{tag}}" class="tag">{{tag}}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
            </p>
            {% endif %}
        </header>

        <section>
            {{ post.excerpt }}
        </section>

        <footer>
            <ul class="actions">
                <li><a href="{{ post.url }}" class="button">Lire la suite</a></li>
            </ul>
        </footer>

    </article>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>

</div>