<!DOCTYPE html>
<html>
  	<head>
  		<title>{{ site.title }}{% if page.title %} - {{page.title}} {% endif %}</title>
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="{{ site.description }}" />
  		<meta name="keywords" content="{{ site.keywords }}" />
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<script src="/js/jquery.min.js"></script>
  		<script src="/js/jquery.poptrox.min.js"></script>
  		<script src="/js/skel.min.js"></script>
  		<script src="/js/init.js"></script>
  		<noscript>
  			<link rel="stylesheet" href="/css/skel.css" />
  			<link rel="stylesheet" href="/css/style.css" />
  			<link rel="stylesheet" href="/css/style-xlarge.css" />
  		</noscript>
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

	<body id="top">

      <header id="header">
          <a href="/" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
          <h1><a href="http://www.globalis-ms.com">GLOBALIS</a> Ⓖ co-founder/CTO</h1>
          <h1><a href="http://open-goodies.com/">OpenGoodies</a> partner</h1>
          <h5>Web, Security, <a href="https://www.amazon.fr/dp/2212136587/ref=cm_sw_r_tw_dp_upTgxbM2TT1KM">Performance</a>, Apple  Addict, Geek Life, <a href="{{baseurl}}/astrobin.html">Astronomy</a>, Arduino, RX, Nature, Fly Fishing and more.</h5>
      </header>


        {{ content }}

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">

              {% if site.github_username %}
              <li>
                <a href="https://github.com/{{ site.github_username }}" class="icon fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              {% if site.twitter_username %}
              <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              {% if site.linkedin_username %}
              <li>
                <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon fa-linkedin">
                  <span class="label">LinkedIn</span>
                </a>
              </li>
              {% endif %}

              {% if site.email %}
              <li>
                <a href="mailto:{{ site.email }}" class="icon fa-envelope-o">
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
            </ul>
            <ul class="copyright">
                <li>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a> and me</li>
                <li>Jekyll Template: <a href="http://jekyllthemes.org/themes/strata/">Strata</a></li>
            </ul>
        </footer>

	</body>
</html>
